[user]
	name = Peter Xie
	email = peterx@fb.com
[core]
	editor = vim
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[mergetool]
	tool = vimdiff
[branch]
	autosetuprebase = always

[commit]
    template = ~/devtools/git-commit-template
