[user]
	name = Peter Xie
	email = peterx@fb.com
[core]
	editor = vim
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	rb = rb
	pl = pull
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[difftool]
    tool = vimdiff
[mergetool]
	tool = vimdiff
[branch]
	autosetuprebase = always
[push]
	default = matching
